body {
	font-family: 'PT Sans', sans-serif;
}
h1 {
	font-size: 30px;
	color: #999;
}
header h1 {
	margin: 0;
	line-height: 1;
}
a {
	color: $brandorange;
}
ul, ol {
	padding: 0 0 0 20px;
}
ol li::marker {
	color: $brandgreen;
}
ol li {
	padding-left: 5px;
}
ul li, ol li {
	margin-bottom: 1em;
}
ul li:last-of-type {
	margin-bottom: 0;
}
p, li {
	color: #666;
}

// COLOUR
.light {
	color: #fff;
}